
.crystals
{
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.crystal
{
    border:2px solid red;
    height:200px;
    width:200px;
    
    
}

body{
	background-image: url("http://www.freegreatpicture.com/files/147/18380-hd-color-background-wallpaper.jpg");
	font-family: 'Oswald', sans-serif;
}